{% extends 'master' %}

{% block header %}
  <h1>Programmēšanas uzdevumi</h1>
  <pre><code class="python">if not Happy(): beHappy()</code></pre>
{% endblock %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th>#</td>
        <th>Nosaukums</td>
      </tr>
    </thead>
    <tbody>
      {% if problems.length == 0 %}
        <tr>
          <td colspan=2 class="info">
            Diemžēl nav pievienots neviens uzdevums.
          </td>
        </tr>
      {% else %}
        {% set i=0 %}
        {% for problem in problems %}
          <tr>
            <td>
              {% set i=i+1 %}
              {{ i }}
            </td>
            <td>
              {{ linkTo('problem/show', problem.name, {id: problem.id}) }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock %}

{% block sidebar %}
  <div class="list-group">
    <a href="{{ 'problem/list' | route({}) }}" class="list-group-item  list-group-item-warning">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Uzdevumu pārvaldīšana
    </a>
    <a href="{{ 'problem/create' | route({}) }}" class="list-group-item">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Izveidot uzdevumu
    </a>
  </div>
{% endblock %}
