{% extends 'master' %}

{% block header %}
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">{{ problem.name }}</h2>
    </div>
  </div>
  <hr>
{% endblock %}

{% block content %}
  <div class="tex2jax_process prettycontent">
    {{ problem.description | markdown | safe }}
  </div>
{% endblock %}

{% block sidebar %}

  {% if inAssignment %}
    <div class="list-group">
      <a href="{{ 'group/show' | route({id: assignment.group_id}) }}" class="list-group-item active">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{assignment.group.name}}
      </a>
      <a href="{{ 'assignment/show' | route({assignment_id: assignment.id}) }}" class="list-group-item">
        {{problem.name}}
      </a>
    </div>
  {% endif %}

  {% include 'problem/admin_sidebar' %}

  <table class="table">
    <thead>
      <tr>
        <th colspan=2>
          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
          {{ antl.formatMessage('messages.limits') }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ antl.formatMessage('messages.memory') }}</td>
        <td>{{ problem.testset.memory }}mb</td>
      </tr>
      <tr>
        <td>{{ antl.formatMessage('messages.time') }}</td>
        <td>{{ problem.testset.timelimit }}s</td>
      </tr>
      {% if problem.testset.use_files %}
        <tr>
          <td>{{ antl.formatMessage('messages.input_file') }}</td>
          <td>{{ problem.testset.input_file }}</td>
        </tr>
        <tr>
          <td>{{ antl.formatMessage('messages.output_file') }}</td>
          <td>{{ problem.testset.output_file }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  {% if inAssignment %}
    <table class="table">
      <thead>
        <tr><th>{{ antl.formatMessage('messages.submit_solution') }}</th></tr>
      </thead>
      <tbody>
        <tr>
          <td colspan=2 class="text-center">
            {% if cUser.auth %}
              {{ form.open({action: 'SubmissionController.submit', params: {assignment_id: assignment.id}, class:"form-horizontal", files: true}) }}
              {{ csrfField }}
              <select name="type" class="form-control" style="width:100%; text-align: center;">
                <option value="cpp11" >C++11</option>
                <option value="cpp">C++</option>
                <option value="c">C</option>
                <option value="c11">C11</option>
                <option value="fpc">Pascal</option>
              </select>
              <input type="file" name="solution" id="submit_file">
              <p>
                <button type="button" class="btn btn-default button-hidden" style="width:100%;" id="submit_button">{{ antl.formatMessage('messages.choose_file') }}</button><br />
              </p>
              <p id="submit_text"></p>
              <p>
                <button type="submit" class="btn btn-success" style="width:100%;" id="submit_form">{{ antl.formatMessage('messages.submit') }}</button>
              </p>
              {{ form.close() }}
            {% else %}
              <p class="text-warning">
              {{ antl.formatMessage('messages.submit_require_registration') }}
              </p>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}

{% endblock %}

{% block customscript %}
  <script>
    $(document).ready(function(){
      $('#submit_file').hide()
      $('#submit_form').hide()
      $('#submit_button').show()

      $( '#submit_button' ).click(function(){
        $( '#submit_file' ).click();
      });

      $( '#submit_file').change(function(){
        $( '#submit_text' ).text($( this ).val() );
        $( '#submit_form' ).show()
      });
    })
  </script>
{% endblock %}

