<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>APTS</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body class="tex2jax_ignore">
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">

            <a class="navbar-brand" href="{{ 'home' | route({}) }}">
              APTS
            </a>

          </div>

          <ul class="nav navbar-nav">
            {# <li><a href="{{ 'user/list' | route({}) }}">Lietotāji</a></li> #}
            {% if cUser.auth %}
            <li><a href="{{ 'group/list' | route({}) }}">Grupas</a></li>
            {% endif %}
            {% if cUser.admin %}
            <li><a href="{{ 'problem/list' | route({}) }}">Uzdevumi</a></li>
            <li><a href="{{ 'PageController.index' | action({}) }}">Lapas</a></li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">

            {% if cUser.auth %}
              <p class="navbar-text">Lietotājs: {{ cUser.user.email }}</p>
              <li><a href="{{ 'logout' | route({}) }}">Iziet</a></li>
            {% else %}
              <li><a href="{{ 'login' | route({}) }}">Ieiet</a></li>
              <li><a href="{{ 'register' | route({}) }}">Reģistrēties</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>

      <div class="container">
        {% block path %}
        {% endblock path %}

        <div class="header">
          {% block header %}{% endblock %}
        </div>

        <div class="row">
          <div class="col-sm-3 col-sm-push-9 sidebar">
            {% block sidebar %}
            {% endblock %}
          </div> {# sidebar #}

          <div class="col-sm-9 col-sm-pull-3 content">

            {% for error in old('errors') %}
              <p class="bg-danger">
                {{ error.message }}
              </p>
            {% endfor %}

            {% for success in old('successes') %}
              <p class="bg-success">
                {{ success.message }}
              </p>
            {% endfor %}

            {% block content %}{% endblock %}
          </div>

        </div> {# .row #}
      </div> {# .container #}
    </div> {# #wrapper #}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>APTS - Automātiskā Programmu Testēšanas Sistēma</p>
          </div>
          <div class="col-sm-6">
            <p>(c) Pēteris Pakalns</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] },
        TeX: { equationNumbers: {autoNumber: "AMS"} }
      });
    </script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="/marked.js"></script>
    <script>
      hljs.initHighlightingOnLoad();

      marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: true,
        smartLists: true,
        smartypants: false
      });
    </script>
    {% block customscript %}{% endblock %}
  </body>
</html>
