<h3>{{ antl.formatMessage('messages.password_reset_subject') }}</h3>
<p>
  {{ antl.formatMessage('messages.password_reset_body') }}
</p>
<p>
  {{ base }}{{ 'RegisterController.reset_password' | action({token: token, key: key})}}
</p>
