<h3>{{ antl.formatMessage('messages.registration_email_subject') }}</h3>
<div>
  {{ antl.formatMessage('messages.registration_email_body') }}
</div>
<div>
  {{ base }}{{ 'RegisterController.activate' | action({token: token, key: key})}}
</div>
