<h3>{{ antl.formatMessage('messages.registration_email_subject') }}</h3>
<div>
  {{ antl.formatMessage('messages.registration_email_body') }}
</div>
<div>
{{ 'RegisterController.activate' | action({email: email, token: token})}}
</div>
{{ antl.formatMessage('messages.APTS') }}
