<h3>{{ antl.formatMessage('messages.registration_email_subject') }}</h3>
<p>
  {{ antl.formatMessage('messages.registration_email_body') }}
</p>
<p>
  {{ base }}{{ 'RegisterController.activate' | action({token: token, key: key})}}
</p>
