{{ antl.formatMessage('main.change_password_email_subject') }}

{{ antl.formatMessage('main.change_password_email_body', {DOMAIN, url: route('UserController.resetPassword', {token: user.token, key: key})}) }}
