{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="alert alert-danger">
      <h3>{{ error.status }}</h3>
      <p>Sistēmas kļūda!</p>
    </div>
  </div>
{% endblock %}
