{% extends 'master' %}

{% block header %}
  <h2>{{ antl.formatMessage('messages.submission') }}</h2>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ antl.formatMessage('messages.group') }}</th>
        <th>{{ antl.formatMessage('messages.time') }}</th>
        <th>{{ antl.formatMessage('messages.task') }}</th>
        <th>{{ antl.formatMessage('messages.status') }}</th>
        <th>{{ antl.formatMessage('messages.result') }}</th>
        <th>{{ antl.formatMessage('messages.size') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ submission.assignment.group.name }}</td>
        <td>{{ submission.created_at }}</td>
        <td>{{ submission.assignment.problem.name }}</td>
        <td>{{ "Gaida" if submission.status==0 }}</td>
        <td>{{ submission.score }}</td>
        <td>{{ ( submission.filesize / 1024 ) | round(2) }}kB</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="tex2jax_process prettycontent">
    <pre><code class='c++'>{{ submission.file }}</code></pre>
</div>
{% endblock %}
