{{ antl.formatMessage('main.change_password_email_subject') }}

{{ antl.formatMessage('main.change_password_email_body', {DOMAIN, url: route('UserController.changePassword', {token: user.token, key: user.password_reset_hash})}) }}
