{{ antl.formatMessage('main.activation_email_subject') }}

{{ antl.formatMessage('main.activation_email_body', {DOMAIN, url: route('UserController.activate', {token: user.token, key: user.email_change_hash})}) }}
