@if(group)
  <li class="purplish">
    <a class="pl-4" href="{{ route('GroupController.show', {id: group.id}) }}">{{ group.name }}</a>
  </li>
  @if(assignment)
  <li class="purplish">
    <a class="pl-5" href="{{ route('AssignmentController.show', {id: assignment.id}) }}">{{ problem.name }}</a>
  </li>
  @endif
@endif
