{% extends 'master' %}

{% block header %}
  <h1>Grupas uzdevumu pārvalde</h1>
  <p>Pārvaldiet grupas dalībniekiem pieejamos uzdevumus</p>
{% endblock %}

{% block content %}
  <h2>
    Grupa: {{ group.name }}
  </h2>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading">Uzdevumu pievienošana</div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          {{ form.label('problem_name', 'Meklēt pēc uzdevuma:', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{form.search('problem_name', null, {class: 'form-control'})}}
          </div>
        </div>
      </div>
    </div>
    <table class="table table-condensed no-border table-hover" id="preview_table">
    </table>
  </div>
  <div class="alert alert-info">
    Grupai pievienotos uzdevumus var paslēpt, bet <b>nevar izdzēst</b>.
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">Grupas uzdevumu saraksts</div>
    <div class="panel-body">
      {% if assignments.length == 0 %}
        <p class="bg-info">
          Grupai nav neviena uzdevuma
        </p>
      {% else %}
        <div class="bg-info">
          <strong>Rezultāts</strong>:
          Dalībnieks redz cik testi no cik testiem bija veiksmīgi.
          Piemēram: "5/10" vai "**2/5", kur "**" norāda, ka rezultāts ir pa publiskajiem testiem.
        </div>
        <div class="bg-info">
          <strong>Detalizēti testi</strong>: Dalībnieks papildus tam, vai tests bija veiksmīgs, redzēs arī čekera paziņojumu attiecīgajam testam.
        </div>
        <div class="top-buffer"></div>
        {% for assignment in assignments %}
          <div class="panel panel-default">
            <div class="panel-heading">Uzdevums: {{assignment.problem.name}}</div>
            <div class="panel-body">
              {{ form.open({route: 'assignment/options/update', params: {id: assignment.id}, class:"form-horizontal"}) }}
              {{ csrfField }}

              <div class="row">
                <div class="text-right bold col-md-4">
                  Uzdevums:
                </div>
                <div class="col-md-6">
                  {{ assignment.problem.name }}
                </div>
              </div>
              <div class="form-group">
                {{ form.label('vis', 'Uzdevums redzams grupas dalībniekiem:', {class: 'col-md-4 control-label'}) }}
                <div class="col-md-6">
                  {{ form.checkbox('vis', 'visible', assignment.visible, {class: 'form-control', style: 'height: 15px; margin-top: 10px; width: 20px; text-align:left;'}) }}
                </div>
              </div>
              <div class="form-group">
                {{ form.label('score_vis', 'Dalībniekam redzamie rezultāti:', {class: 'col-md-4 control-label'}) }}
                <div class="col-md-8">
                  {{ form.select('score_vis', score_vis_types, assignment.score_visibility, 0, {class: 'form-control'}) }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                  {{ form.button('Saglabāt uzstādījumus', 'save', {class: "btn btn-primary", style: "margin-top:5px;"}) }}
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                  <a class="btn btn-default" href="{{ "SubmissionController.export_assignment" | action({ assignment_id: assignment.id }) }}" style="margin-top: 5px; margin-bottom: 5px;">
                    Eksportēt pēdējos iesūtījumus (CSV)
                  </a>
                </div>
              </div>
              {{ form.close() }}
              <div class="row">
                {{ form.open({action: 'SubmissionController.export_assignment_submissions', params: {assignment_id: assignment.id}, class:"form-horizontal"}) }}
                {{ csrfField }}
                <div class="col-md-8">
                  {{ form.label('submission_ids' + (assignment.id | string), 'Iesūtījumu id:', {class: 'col-md-4 control-label'}) }}
                  <div class="col-md-8">
                    {{ form.text('submission_ids' + (assignment.id | string), old('submission_ids' + (assignment.id | string)) or "", {class: 'form-control', required: true}) }}
                  </div>
                </div>
                <div class="col-md-4">
                  {{ form.button('Eksportēt norādītos (CSV)', 'save', {class: "btn btn-default form-control"}) }}
                </div>
                {{ form.close() }}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
  {% endif %}
{% endblock %}

{% block customscript %}
  <script>
    $(document).ready(function(){
      var csrfval = "{{ csrfToken }}"

      var iteration = 0;
      var updated_iteration = 0;

      var last_search = "_"
      var timer = null

      var updateClear = function() {
        timer = null
        update()
      }

      var update = function(){

        var text = $("#problem_name").val()

        if (timer == null && text!=last_search)
        {
          last_search = text
          timer = setTimeout(updateClear, 500)

          var now_iteration = iteration+1;
          iteration = iteration+1;

          $.get("{{ 'problem/shortlist' | route({}) }}",{search: text}, function( data ){
            if ( now_iteration > updated_iteration )
            {
              updated_iteration = now_iteration
              var length = data.length
              var preview_table = $("#preview_table");
              $(preview_table).empty()

              var thead = document.createElement("thead")
              var tr = document.createElement("tr")
              var th = document.createElement("th")
              th.setAttribute("colspan", 2)
              $(th).text("Atrastie uzdevumi:")
              tr.append(th)
              thead.append(tr)

              var tbody = document.createElement("tbody")

              for ( var i=0; i<length; i++ )
              {
                var tr = document.createElement("tr")
                var td1 = document.createElement("td")
                $(td1).text(data[ i ].name)
                var td2 = document.createElement("td")
                td2.setAttribute("class", "text-right")

                tr.append(td1)
                tr.append(td2)

                var form = document.createElement("form")
                form.setAttribute("method", "post")
                form.setAttribute("action", "{{ 'assignment/create' | route({}) }}")
                $(form).append("<input type='hidden' name='_csrf' value='"+csrfval+"'>")
                $(form).append("<input type='hidden' name='group_id' value='{{ group.id }}'>")
                $(form).append("<input type='hidden' name='problem_id' value='"+data[ i ].id+"'>")
                $(form).append("<button type='submit' name='create' class='btn btn-xs btn-default'>Pievienot grupai</button>")
                td2.append(form)

                tbody.append(tr);
              }

              preview_table.append(thead)
              preview_table.append(tbody)
            }
          })
        }
      }

      $("#problem_name").keypress(update)
      update()
    })
  </script>
{% endblock %}

{% block sidebar %}
  {% include 'group/admin_sidebar' %}
{% endblock %}
