{% extends 'master' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ form_heading or "Problēmas rediģēšana" }}</div>
    <div class="panel-body">

      {% if create %}
        {{ form.open({route: 'problem/create_save', class:"form-horizontal"}) }}
      {% else %}
        {{ form.open({route: 'problem/edit_save', params: {id: problem.id}, class:"form-horizontal"}) }}
        {{ form.hidden('id', old('id') or problem.id ) }}
      {% endif %}

        {{ csrfField }}

        <div class="form-group">
          {{ form.label('name', 'Uzdevuma nosaukums', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.text('name', old('name') or problem.name, {class: 'form-control', required: true}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('memory', 'Atmiņas limits (Mb)', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-2">
            {{ form.text('memory', old('memory') or problem.memory, {class: 'form-control', placeholder:"512", required: true}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('timelimit', 'Laika limits (s)', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-2">
            {{ form.text('timelimit', old('timelimit') or problem.timelimit, {class: 'form-control', placeholder:"0.5", required: true}) }}
          </div>
        </div>

        <div class="form-group">
          <div class='col-md-12'>
            {{ form.label('description', 'Uzdevuma apraksts', {class: 'control-label'}) }}
            {{ form.textarea('description', old('description') or problem.description, {class: 'form-control', rows: '20'}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-8 text-right">
            <button type="button" class="btn btn-info" id="preview">Priekšstatīt</button>
            {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
          </div>
        </div>
      {{ form.close() }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Uzdevuma paraugs</div>
    <div class="panel-body">
      <h3 id="name_preview"> {{ old('name') or problem.name }} </h3>
      <hr>
      <div id="description_preview" class="tex2jax_process">
        {{ ( old('description') or problem.description ) | markdown | safe }}
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'problem/admin_sidebar' %}
  {% if not problem %}
    <div class="list-group">
      <a href="{{ 'problem/list' | route({}) }}" class="list-group-item  list-group-item-warning">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Uzdevumu pārvaldīšana
      </a>
      <div class="list-group-item list-group-item-info">Uzdevuma izveide</div>
    </div>
  {% endif %}
{% endblock %}

{% block customscript %}
  <script>
    var form = document.getElementById("preview")
    form.addEventListener("click", function(){
      var data_name = $("#name").val()
      var data_description = $("#description").val() + ''

      $("#name_preview").text(data_name)
      data_description = $("#description_preview").text(data_description).text()
      $("#description_preview").html(marked(data_description))
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

      hljs.initHighlighting.called = false;
      hljs.initHighlighting();
    })
  </script>
{% endblock %}
