{% extends 'master' %}

{% block header %}
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center">{{ problem.name }}</h2>
    </div>
  </div>
  <hr>
{% endblock %}

{% block content %}
  <div class="tex2jax_process">
    {{ problem.description | markdown | safe }}
  </div>
{% endblock %}

{% block sidebar %}

  {% if inAssignment %}
    <div class="list-group">
      <a href="{{ 'group/show' | route({id: assignment.group_id}) }}" class="list-group-item active">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{assignment.group.name}}
      </a>
      <div class="list-group-item">{{problem.name}}</div>
    </div>
  {% endif %}

  {% include 'problem/admin_sidebar' %}

  <table class="table">
    <thead>
      <tr>
        <th colspan=2>
          <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> Ierobežojumi
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Atmiņa:</td>
        <td>{{ problem.memory }}mb</td>
      </tr>
      <tr>
        <td>Laika limits:</td>
        <td>{{ problem.timelimit }}s</td>
      </tr>
    </tbody>
  </table>
  {% if inAssignment %}
    <table class="table">
      <thead>
        <tr>
          <th colspan=2>Iesūtīt uzdevuma risinājumu:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan=2 class="text-center">
            <input type="file" name="solution" id="submit_file">
            <p>
              <button class="btn btn-default" style="width:100%;" id="submit_button">Izvēlēties failu</button><br />
            </p>
            <p id="submit_text"></p>
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}

{% endblock %}

{% block customscript %}
  <script>
    $(document).ready(function(){
      $('#submit_file').hide()

      $( '#submit_button' ).click(function(){
        $( '#submit_file' ).click();
      });

      $( '#submit_file').change(function(){
        $( '#submit_text' ).text($( this ).val() );
      });
    })
  </script>
{% endblock %}

