{% extends 'master' %}

{% block header %}
  <h2>{{ antl.formatMessage('messages.group') }}</h1>
  <p class="lead">{{ antl.formatMessage('messages.groups_description') }}</p>
{% endblock %}

{% block content %}

  {% if cUser.auth %}
    <h3>{{ antl.formatMessage('messages.my_groups') }}</h3>
    {% if groups.length == 0 %}
      <p class="bg-info">
        {{ antl.formatMessage('messages.user_not_added_to_group') }}
      </p>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>#</td>
            <th>{{ antl.formatMessage('messages.group_name') }}</td>
          </tr>
        </thead>
        <tbody>
          {% set i=0 %}
          {% for group in groups %}
            <tr>
              <td>
                {% set i=i+1 %}
                {{ i }}
              </td>
              <td>
                {{ linkTo('group/show', group.name, {id: group.id}) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
    {% endif %}
  {% endif %}

  {% if pgroups.length != 0 %}
    <h3>Publiskas grupas</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</td>
          <th>{{ antl.formatMessage('messages.group_name') }}</td>
        </tr>
      </thead>
      <tbody>
        {% set i=0 %}
        {% for group in pgroups %}
          <tr>
            <td>
              {% set i=i+1 %}
              {{ i }}
            </td>
            <td>
              {{ linkTo('group/show', group.name, {id: group.id}) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
  {% endif %}

  {% if cUser.admin %}
    <h3>Grupu pārvaldība: Visas grupas</h3>
    {% if agroups.length == 0 %}
      <p class="bg-info">
        {{ antl.formatMessage('messages.groups_do_not_exsist') }}
      </p>
    {% else %}
      <table class="table">
        <thead>
          <tr>
            <th>#</td>
            <th>{{ antl.formatMessage('messages.group_name') }}</td>
          </tr>
        </thead>
        <tbody>
          {% set i=0 %}
          {% for group in agroups %}
            <tr>
              <td>
                {% set i=i+1 %}
                {{ i }}
              </td>
              <td>
                {{ linkTo('group/show', group.name, {id: group.id}) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% if cUser.admin %}
    <div class="list-group">
      <a href="{{ 'problem/list' | route({}) }}" class="list-group-item  list-group-item-warning">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Grupu pārvaldīšana
      </a>
      <a href="{{ 'group/create' | route({}) }}" class="list-group-item">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Izveidot grupu
      </a>
    </div>
  {% endif %}
{% endblock %}
