{% extends 'master' %}

{% block header %}
  <h2>{{ antl.formatMessage('messages.groups') }}</h1>
  <p class="lead">{{ antl.formatMessage('messages.groups_description') }}</p>
{% endblock %}

{% block content %}
  <h2>
    {{ group.name }}
  </h2>
  <hr>
  <div class="tex2jax_process prettycontent">
    {{ group.description | markdown | safe }}
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'group/admin_sidebar' %}

  <table class="table">
    <thead>
      <tr>
        <th>
          <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> {{ antl.formatMessage('messages.group_tasks') }}
        </th>
      </tr>
    </thead>
    <tbody>
      {% if assignments.length == 0 %}
        <tr>
          <td class="nocontent">
            {{ antl.formatMessage('messages.group_do_not_have_tasks') }}
          </td>
        </tr>
      {% else %}
        {% for assignment in assignments %}
          <tr>
            <td>
              <a href="{{ 'assignment/show' | route({assignment_id: assignment.id }) }}">
                {% if assignment.visible == false %}
                  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                {% endif %}
                {{ assignment.problem.name }}
              </a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{ antl.formatMessage('messages.participants', {count: participantCount }) }}
        </th>
      </tr>
    </thead>
  </table>
{% endblock %}
