{% extends 'master' %}

{% block header %}
  <h1>Grupas dalībnieki</h1>
  <p>Grupas dalībnieku saraksts. Šeit jūs varat pievienot un noņemt grupas dalībniekus.</p>
{% endblock %}

{% block content %}
  <h2>
    Grupa: {{ group.name }}
  </h2>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Dalībnieku pievienošana</div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              {{ form.label('search', 'Meklēt', {class: 'col-md-4 control-label'}) }}
              <div class="col-md-6">
                {{ form.text('search', old('search') or null, {class: 'form-control'}) }}
              </div>
            </div>
          </div>
        </div>
        <table class="table table-condensed no-border table-hover" id="preview_table">
        </table>
      </div>
    </div>
  </div>

  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">Dalībnieku saraksts</div>
    <div class="panel-body">
      {% if group.users.length == 0 %}
        <p class="bg-info">
          Grupā nav neviena dalībnieka!
        </p>
      {% else %}
        {{ form.open({route: 'group/users/remove', class:"form-horizontal"}) }}
        {{ form.hidden('group_id', group.id ) }}

        {{ csrfField }}

        <div class="form-group">
          <div class="col-md-6 col-md-offset-6 text-right">
            {{ form.button("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>Noņemt atzīmētos dalībniekus", 'remove', {class: "btn btn-default"}) }}
          </div>
        </div>
        <table class="table table-bordered table-condensed table-striped">
          <thead>
            <tr>
              <th>#</td>
              <th>Stud. apl. nr.</td>
              <th>Dalībnieks</td>
              <th>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Noņemt
              </th>
            </tr>
          </thead>
          <tbody>
            {% set i=0 %}
            {% for user in group.users %}
              <tr>
                <td>
                  {% set i=i+1 %}
                  {{ i }}
                </td>
                <td>
                  {{ user.student_id }}
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:lightgray;"></span>
                  {{ form.checkbox("user_"+user.id, 'agree', false) }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-6 text-right">
            {{ form.button("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>Noņemt atzīmētos dalībniekus", 'remove', {class: "btn btn-default"}) }}
          </div>
        </div>
        {{ form.close() }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block customscript %}
  <script>
    $(document).ready(function(){
      var csrfval = "{{ csrfToken }}"

      var iteration = 0;
      var updated_iteration = 0;

      var last_search = "_"
      var timer = null

      var updateClear = function() {
        timer = null
        update()
      }

      var update = function(){

        var text = $("#search").val()

        if (timer == null && text!=last_search)
        {
          last_search = text
          timer = setTimeout(updateClear, 500)

          var now_iteration = iteration+1;
          iteration = iteration+1;

          $.get("{{ 'user/shortlist' | route({not_group_id: group.id }) }}",{search: text}, function( data ){
            if ( now_iteration > updated_iteration )
            {
              updated_iteration = now_iteration
              var length = data.length
              var preview_table = $("#preview_table");
              $(preview_table).empty()

              var thead = document.createElement("thead")
              var tr = document.createElement("tr")
              var th = document.createElement("th")
              th.setAttribute("colspan", 3)
              $(th).text("Atrastie grupai nepievienotie lietotāji:")
              tr.append(th)
              thead.append(tr)

              var tbody = document.createElement("tbody")

              for ( var i=0; i<length; i++ )
              {
                var tr = document.createElement("tr")
                var td1 = document.createElement("td")
                $(td1).text(data[ i ].email)
                var td2 = document.createElement("td")
                $(td2).text(data[ i ].student_id)
                var td3 = document.createElement("td")
                td3.setAttribute("class", "text-right")

                tr.append(td1)
                tr.append(td2)
                tr.append(td3)

                var form = document.createElement("form")
                form.setAttribute("method", "post")
                form.setAttribute("action", "{{ 'group/users/add' | route({}) }}")
                $(form).append("<input type='hidden' name='_csrf' value='"+csrfval+"'>")
                $(form).append("<input type='hidden' name='group_id' value='{{ group.id }}'>")
                $(form).append("<input type='hidden' name='user_id' value='"+data[ i ].id+"'>")
                $(form).append("<button type='submit' name='create' class='btn btn-xs btn-default'>Pievienot grupai</button>")
                td3.append(form)

                tbody.append(tr);
              }

              preview_table.append(thead)
              preview_table.append(tbody)
            }
          })
        }
      }

      // Start
      $("#search").keypress(update)
      update();
    })
  </script>
{% endblock %}

{% block sidebar %}
  {% include 'group/admin_sidebar' %}
{% endblock %}
