{% extends 'master' %}

{% block header %}
  <h1>Grupas dalībnieki</h1>
  <p>Grupas dalībnieku saraksts. Šeit jūs varat pievienot un noņemt grupas dalībniekus.</p>
{% endblock %}

{% block content %}
  <h2>
    Grupa: {{ group.name }}
  </h2>
  <hr>

  {% endif %}
{% endblock %}
