{% extends 'master' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">Grupas rediģēšana</div>
    <div class="panel-body">
      {{ form.open({route: 'group/edit_save', params: {id: group.id}, class:"form-horizontal"}) }}

        {{ csrfField }}

        <div class="form-group">
          {{ form.label('name', 'Grupas nosaukums', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.text('name', old('name') or group.name, {class: 'form-control'}) }}
          </div>
        </div>

        <div class="form-group">
          <div class='col-md-12'>
            {{ form.label('description', 'Informācija grupas biedriem', {class: 'control-label'}) }}
            {{ form.textarea('description', old('description') or group.description, {class: 'form-control', rows: '20'}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-8 text-right">
            <button type="button" class="btn btn-info" id="preview">Priekšstatīt</button>
            {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
          </div>
        </div>
      {{ form.close() }}
    </div>
  </div>

  <script>
    var form = document.getElementById("preview")
    form.addEventListener("click", function(){
      var data_name = $("name").val()
      var data_description = $("#description").val() + ''

      $("#name_preview").text(data_name)
      data_description = $("#description_preview").text(data_description).text()
      $("#description_preview").html(marked(data_description))
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    })
  </script>

  <div class="panel panel-default">
    <div class="panel-heading">Grupas paraugs</div>
    <div class="panel-body">
      <h3 id="name_preview"> {{ old('name') or group.name }} </h3>
      <hr>
      <div id="description_preview" class="tex2jax_process">
        {{ ( old('description') or group.description ) | escape | markdown | safe }}
      </div>
    </div>
  </div>
{% endblock %}
