{% extends 'master' %}

{% block header %}
  <h1>Grupas</h1>
  <p>Grupās tās dalībniekiem ir pieeja programmēšanas uzdevumiem</p>
{% endblock %}

{% block content %}

  {% if groups.length == 0 %}
    <p class="bg-info">
      Diemžēl nav izveidota naviena grupa.
    </p>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>#</td>
          <th>Nosaukums</td>
        </tr>
      </thead>
      <tbody>
        {% set i=0 %}
        {% for group in groups %}
          <tr>
            <td>
              {% set i=i+1 %}
              {{ i }}
            </td>
            <td>
              {{ linkTo('group/show', group.name, {id: group.id}) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}

{% block sidebar %}
  {% if cUser.admin %}
    <div class="list-group">
      <a href="{{ 'group/create' | route({}) }}" class="list-group-item">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Izveidot grupu
      </a>
    </div>
  {% endif %}
{% endblock %}
