{% extends 'master' %}

{% block header %}
  <h1>Grupas dalībnieki</h1>
  <p>Grupas dalībnieku saraksts. Šeit jūs varat pievienot un noņemt grupas dalībniekus.</p>
{% endblock %}

{% block content %}
  <h2>
    Grupa: {{ group.name }}
  </h2>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>#</td>
        <th>Dalībnieks</td>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% set i=0 %}
      {% for user in group.users %}
        <tr>
          <td>
            {% set i=i+1 %}
            {{ i }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td class="editmenu">
            <a href="{{ 'group/users/remove' | route({group_id: group.id, user_id: user.id }) }}">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Noņemt
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
