@layout('master.edge')

@section('content')
  <div class="card">
    <div class="card-header">
      {{ antl.formatMessage('main.create') }} -
      {{ antl.formatMessage('main.page') }}
    </div>
    <div class="card-body">
      <form action="{{ route('PageController.store') }}" method="POST">
        @include('pages.partials.form')
        <button class="btn btn-primary" type="submit">{{ antl.formatMessage('main.create') }}</button>
      </form>
    </div>
  </div>
@endsection
