@layout('master.edge')

@section('content')
  @include('pages/partials/admin-nav')
  <h1 class="display-4" id="page_name">{{ page.name }}</h1>
  <p class="lead" id="page_lead">
    {{ page.intro }}
  </p>
  <div>
    <div class="tex2jax_process" id="page_body">
      {{ markdown(page.description) }}
    </div>
  </div>
@endsection

@section('script')
  @!component('components.mathjax')
@endsection
