html, body {
  height: 100%;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  padding-bottom: 70px;
  margin-bottom: -34px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
}

.footer {
  text-align: center;
  margin: auto;
  background-color: rgb(248,248,248);
  border-top: 2px solid rgb(231,231,231);
  box-sizing: border-box;
  height: 34px;
}

.footer .row{
  background-color: rgb(248,248,248);
}

.footer div p {
  padding-top: 5px;
  margin-bottom: 0px;
}

.sidebar ol {
  padding-left: 0;
  list-style-position: inside;
}

.bg-success, .bg-danger, .bg-info, .bg-warning {
  padding: 10px;
}

table {
    border-collapse: collapse;
    width:100%;
}

table.ftable {
    table-layout: fixed;
}
table.ftable td, table.ftable th{
    overflow: hidden;
}

table td,
table tr, table th {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ddd;
}

.editmenu a{
  margin-left: 10px;
  display: inline-block;
}

.content{

}

pre code.hljs{
  margin: -9.5px;
  background-color: white;
}

pre.simple{
    padding: 2px;
    margin:0px;
    background-color: white;
    border-radius: 0px;
    border: 0px;
}

td.message{
    vertical-align: center;
    overflow-x: auto;
}

td.message pre{
    max-width: 100%;
}

tr.initial{
    border-top-width: 3px;
    border-top-color: #ffaaff;
}

td.nocontent{
  color: darkred;
  font-style: italic;
}

table.no-border td, table.no-border th{
  border-left: 0px;
  border-right: 0px;
}

/* Breadcrumbs */

.breadcrumb {background: rgba(255, 255, 255, 1); border: 0px solid rgba(255, 255, 255, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 15px;}
.breadcrumb a {color: rgba(0, 98, 184, 1);}
.breadcrumb a:hover {color: rgba(7, 95, 173, 1);}
.breadcrumb>.active {color: rgba(92, 92, 92, 1);}
.breadcrumb>li+li:before {color: rgba(92, 92, 125, 1); content: "\276D\00a0";}

/* Breadcrumbs end */

.prettycontent{
  line-height: 170%;
  font-size: 1.1em;
}

.prettycontent img{
  max-width: 100%;
  padding: 5px;
}

.prettycontent h1{
  font-size: 1.6em;
}
.prettycontent h2{
  font-size: 1.5em;
}
.prettycontent h3{
  font-size: 1.4em;
}
.prettycontent h4{
  font-size: 1.3em;
}

.sidebar, textarea{
  font-family: "Courier New", Courier, monospace;
}

.alert-hidden, .button-hidden{
  display: none;
}

/* Header colors */

thead {
    background-color: #f5fff5;
}

.h_green {
    background-color: #eeffdd;
}

/* Submission colors */
.cc{
    font-weight: bolder;
}

.cc_sub{
    font-weight: bolder;
}

.c_score{
    font-weight: bolder;
}

.c_OK{
    color: darkgreen;
}

.c_CE{
    color: RED;
}

.c_WAIT{
    color: black;
}

.c_TESTING{
    color: darkblue;
}

.c_IE1, .c_IE2, .c_UNKNOWN{
    color: purple;
}

.bold{
    font-weight: bold;
}

.top-buffer{
    margin-top:10px;
}

.panel-heading{
    font-weight: bold;
}

.checkbox{
    margin-left: 20px;
}

.partially_hidden{
    background-color: #eeeeff;
}

.rectangle{
    width:20px;
    height:20px;
    display: inline-block;
    border: 2px dotted;
}

tr.hover-row:hover{
    background-color: #fafafa;
}

.no-padding{
    padding: 0px;
}

.full-cell{
    width: 100%;
    margin: 0px;
    height: 100%;
    background-color: transparent;
    border: 0px;
    font-weight: bold;
}

#clock-wrapper {
    background-color: #eeffdd;
}

#clock {
    font-family: courier, monospace;
    font-weight: bold;
    color: rgba(0, 98, 184, 0.9);
    font-size: 20px;
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 0.5);
}

/* Small++ Devices, Desktops */
@media only screen and (min-width : 768px) {
    .text-keep-right{
        text-align: right;
    }
}


