body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  margin: auto;
  right: 0;
  left: 0;
}

.sidebar ol {
  padding-left: 0;
  list-style-position: inside;
}

.bg-success, .bg-danger {
  padding: 10px;
}
