{% extends 'master' %}

{% block header %}
  {% if page %}
    <h2>Lapas rediģēšana <small>{{page.path}}</small></h2>
    <p class="lead">{{page.name}}</p>
  {% else %}
    <h2>Lapas izveidošana</h2>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">

      {% if create %}
        {{ form.open({action: 'PageController.store', class:"form-horizontal"}) }}
      {% else %}
        {{ form.open({action: 'PageController.update', params: {id: page.id}, class:"form-horizontal"}) }}
        {{ form.hidden('id', old('id') or page.id ) }}
      {% endif %}

        {{ csrfField }}

        <div class="form-group">
          {{ form.label('name', 'Lapas nosaukums', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.text('name', old('name') or page.name, {class: 'form-control', required: true}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('intro', 'Lapas ievads', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.text('intro', old('intro') or page.intro, {class: 'form-control'}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('path', 'Lapas saites vārds', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.text('path', old('path') or page.path, {class: 'form-control', required: true}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('visible', 'Redzama lapas apmeklētājiem', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.checkbox('visible', '1', old('visible') or page.visible )}}
          </div>
        </div>

        <div class="form-group">
          <div class='col-md-12'>
            {{ form.label('description', 'Lapas saturs', {class: 'control-label'}) }}
            {{ form.textarea('description', old('description') or page.description, {class: 'form-control', rows: '20'}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-8 text-right">
            <button type="button" class="btn btn-info" id="preview">Priekšstatīt</button>
            {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
          </div>
        </div>
      {{ form.close() }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Lapas paraugs</div>
    <div class="panel-body">
      <h2 id="name_preview"> {{ old('name') or page.name }} </h2>
      <p id="intro_preview" class="lead">{{page.intro}}</p>
      <hr>
      <div id="description_preview" class="tex2jax_process prettycontent">
        {{ ( old('description') or page.description ) | markdown | safe }}
      </div>
    </div>
  </div>
{% endblock %}

{% block customscript %}
  <script>
    var form = document.getElementById("preview")
    form.addEventListener("click", function(){
      var data_name = $("#name").val()
      var data_intro = $("#intro").val()
      var data_description = $("#description").val() + ''

      $("#name_preview").text(data_name)
      $("#intro_preview").text(data_intro)
      data_description = $("#description_preview").text(data_description).text()
      $("#description_preview").html(marked(data_description))
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);

      hljs.initHighlighting.called = false;
      hljs.initHighlighting();
    })
  </script>
{% endblock %}

{% block sidebar %}
{% endblock %}
