{% extends 'master' %}

{% block header %}
  {% if page %}
    <h2>{{  page.name }}</h2>
    <p class="lead">{{page.intro}}</p>
  {% else %}
    <div class="alert alert-danger">Pieprasītā lapa nav pieejama</div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if page %}
  <div class="tex2jax_process prettycontent">
    {{ page.description | markdown | safe }}
  </div>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include 'page/sidebar' %}
  {% if page and cUser.admin %}
    <table class="table">
      <tbody>
        <tr>
          <th>
            {% if page.visible %}
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Redzama apmeklētājiem
            {% else %}
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Slēpta apmeklētājiem
            {% endif %}
          </th>
        </tr>
        <tr>
          <th>
            <a href="{{ 'PageController.show' | action({id: page.path})}}">
              <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> {{ 'PageController.show' | action({id: page.path})}}
            </a>
          </th>
        </tr>
        <tr>
          <td>{{ page.comment }}</td>
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}
