{% if page and cUser.admin %}
  <div class="list-group">
    <a href="{{ 'PageController.index' | action({}) }}" class="list-group-item list-group-item-warning">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Lapu pārvaldība
    </a>
    <a href="{{ 'PageController.show' | action({id: page.path}) }}" class="list-group-item list-group-item-success">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{page.name}}
    </a>
    <a href="{{ 'PageController.edit' | action({id: page.id }) }}" class="list-group-item">
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rediģēt
    </a>
    <button class="list-group-item" onclick="$('#pagedelete').show(250)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Dzēst
    </button>
  </div>

  <div class="alert alert-danger alert-hidden" id="pagedelete">
    <h4>Vai tiešām vēlaties dzēst lapu: <i>{{page.name}}</i>?</h4>
    <p>Lapas saturs būs zudis!</p>
    <p>
      <button type="button" class="btn btn-default" style="width:100%" aria-label="Atcelt" onclick="$('#pagedelete').hide(250);">
        Atcelt
      </button>
      <form method="post" action="{{ 'PageController.destroy' | action({id: page.id}) }}">
        {{ csrfField }}
        <button type="submit" class="btn btn-danger" style="width:100%; margin-top: 10px;">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Dzēst
        </button>
      </form>
    </p>
  </div>
{% endif %}
