{% extends 'master' %}
{% import 'macros/submission.njk' as sub %}

{% block header %}
  <h2>Iesūtījumi</h2>
  {% if cUser.admin %}
    <p class="lead">APTS lietotāju iesūtījumi</p>
  {% else %}
    <p class="lead">Mani iesūtījumi</p>
  {% endif %}
{% endblock %}

{% block content %}
  {{ sub.showSubmissionList(sub_paginated, 'SubmissionController.index', {}) }}
{% endblock %}
