{% extends 'master' %}

{% import 'macros.submission' as sub %}

{% block header %}
    <h2>{{ antl.formatMessage('messages.submission') }}</h2>
{% endblock %}

{% block content %}
    <table class="table ftable">
        <thead>
            <tr>
                <th>{{ antl.formatMessage('messages.id') }}</th>
                <th>{{ antl.formatMessage('messages.time') }}</th>
                <th>{{ antl.formatMessage('messages.group') }}</th>
                <th>{{ antl.formatMessage('messages.task') }}</th>
                <th>{{ antl.formatMessage('messages.type') }}</th>
                <th>{{ antl.formatMessage('messages.status') }}</th>
                <th>{{ antl.formatMessage('messages.result') }}</th>
                <th>{{ antl.formatMessage('messages.memory') }}</th>
                <th>{{ antl.formatMessage('messages.time') }}</th>
                <th>{{ antl.formatMessage('messages.size') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ submission.id }}</td>
                <td>{{ submission.created_at }}</td>
                <td>
                    <a href="{{ 'GroupController.show' | action({id: submission.assignment.group.id }) }}">
                    {{ submission.assignment.group.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ 'AssignmentController.show' | action({id: submission.assignment.id }) }}">
                    {{ submission.assignment.problem.name }}
                    </a>
                </td>
                <td>{{ submission.type }}</td>
                {{ sub.status(submission, true) }} {# Created table cell #}
                <td class="c_score">{{ sub.score(submission) }}</td>
                <td>{{ sub.memory(submission) }}</td>
                <td>{{ sub.time(submission) }}</td>
                <td>{{ sub.filesize(submission) }}</td>
            </tr>
            <tr>
                <td colspan=2>{{ antl.formatMessage('messages.message') }}</td>
                <td colspan=8 class="message"><pre class="simple">{{ submission.public | truncate(1020, true) }}</pre></td>
            </tr>
            {% if cUser.admin %}
                <tr>
                    <td colspan=2>{{ antl.formatMessage('messages.private') }}</td>
                    <td colspan=8 class="message"><pre class="simple">{{ submission.private | truncate(1020, true) }}</pre></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
    <button class="btn btn-danger" data-toggle="collapse" data-target="#source_code">{{ antl.formatMessage('messages.source_code') }}</button>
    <div class="tex2jax_process prettycontent collapse" id="source_code">
        <pre><code>{{ submission.file.file }}</code></pre>
    </div>
    <hr>
    <div class="text-right">
      <h4><b>** Publiskie testi</b></h4>
    </div>
    <div class="text-right">
      <h4>
      {% if cUser.admin %}
        <div class='rectangle partially_hidden border'>
        </div>
        Slēpta informācija lietotājam
      {% endif %}
      </h4>
    </div>
    <table class="table ftable">
        <thead>
            <tr>
                <th colspan=4 class="text-right">Maksimāli atļautais:</th>
                <th>{{ submission.testset.memory or 0 }}Mb</th>
                <th>{{ submission.testset.timelimit or 0 }}s</th>
            </tr>
            <tr>
                <th>{{ antl.formatMessage('messages.group') }}</th>
                <th>{{ antl.formatMessage('messages.number') }}</th>
                <th>{{ antl.formatMessage('messages.status') }}</th>
                <th>{{ antl.formatMessage('messages.result') }}</th>
                <th>{{ antl.formatMessage('messages.memory') }}</th>
                <th>{{ antl.formatMessage('messages.time') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
              {{ sub.show(test, submission.assignment) }}
            {% else %}
            <tr>
                <td colspan=6>
                    {{ antl.formatMessage('messages.no_results') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
