{% extends 'master' %}

{% block header %}
    <h2>{{ antl.formatMessage('messages.submission') }}</h2>
{% endblock %}

{% block content %}
    <table class="table ftable">
        <thead>
            <tr>
                <th>{{ antl.formatMessage('messages.id') }}</th>
                <th>{{ antl.formatMessage('messages.time') }}</th>
                <th>{{ antl.formatMessage('messages.group') }}</th>
                <th>{{ antl.formatMessage('messages.task') }}</th>
                <th>{{ antl.formatMessage('messages.status') }}</th>
                <th>{{ antl.formatMessage('messages.result') }}</th>
                <th>{{ antl.formatMessage('messages.memory') }}</th>
                <th>{{ antl.formatMessage('messages.time') }}</th>
                <th>{{ antl.formatMessage('messages.size') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ submission.id }}</td>
                <td>{{ submission.created_at }}</td>
                <td>
                    <a href="{{ 'GroupController.show' | action({id: submission.assignment.group.id }) }}">
                    {{ submission.assignment.group.name }}
                    </a>
                </td>
                <td>
                    <a href="{{ 'AssignmentController.show' | action({id: submission.assignment.id }) }}">
                    {{ submission.assignment.problem.name }}
                    </a>
                </td>
                <td class="{{ submission.statuscolor }}">{{ submission.statusname }}</td>
                <td class="c_score">{% if submission.score or submission.score==0 %}{{ submission.score }}/{{ submission.maxscore }}{%endif%}</td>
                <td>{{ (submission.maxmemory / 1024 / 1024) | round(2) }}Mb</td>
                <td>{{ submission.maxtime }}s</td>
                <td>{{ ( submission.file.size / 1024 ) | round(2) }}kB</td>
            </tr>
            <tr>
                <td colspan=2>{{ antl.formatMessage('messages.message') }}</td>
                <td colspan=7 class="message"><pre class="simple">{{ submission.public | truncate(1020, true) }}</pre></td>
            </tr>
            {% if cUser.admin %}
                <tr>
                    <td colspan=2>{{ antl.formatMessage('messages.private') }}</td>
                    <td colspan=7 class="message"><pre class="simple">{{ submission.private | truncate(1020, true) }}</pre></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr>
    <button class="btn btn-danger" data-toggle="collapse" data-target="#source_code">{{ antl.formatMessage('messages.source_code') }}</button>
    <div class="tex2jax_process prettycontent collapse" id="source_code">
        <pre><code>{{ submission.file.file }}</code></pre>
    </div>
    <hr>
    <table class="table ftable">
        <thead>
            <tr>
                <th>{{ antl.formatMessage('messages.group') }}</th>
                <th>{{ antl.formatMessage('messages.number') }}</th>
                <th>{{ antl.formatMessage('messages.status') }}</th>
                <th>{{ antl.formatMessage('messages.result') }}</th>
                <th>{{ antl.formatMessage('messages.memory') }}</th>
                <th>{{ antl.formatMessage('messages.time') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr class="initial">
                    <td>{{ test.test.tid }}</td>
                    <td>{{ test.test.gid }}</td>
                    <td class="cc_sub {{ "c_OK" if test.status=="OK" else "c_CE" }}">
                        {{ test.status }}
                    </td>
                    <td>{{ test.score }}</td>
                    <td>{{ ( test.memory / 1024 / 1024 ) | round(2) }}MB</td>
                    <td>{{ test.time | float | round(2) }}</td>
                </tr>
                <tr>
                    <td colspan=2 class="text-right">{{ antl.formatMessage('messages.message') }}</td>
                    <td colspan=4 class="message"><pre class="simple">{{ test.public }}</pre></td>
                </tr>
                {% if cUser.admin %}
                <tr>
                    <td colspan=2 class="text-right">{{ antl.formatMessage('messages.private') }}</td>
                    <td colspan=4 class="message"><pre class="simple">{{ test.private }}</pre></td>
                </tr>
                {% endif %}
            {% else %}
            <tr>
                <td colspan=6>
                    {{ antl.formatMessage('messages.no_results') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
