{# DISPLAY USER SUBMISSIONS #}
{% import 'macros.submission' as sub %}

{% if cUser.auth %}

  {% set Submission = use('App/Model/Submission') %}

  {% set squery = Submission.query().where('user_id', cUser.user.id) %}
  {% if assignment %}
    {% set squery = squery.where('assignment_id', assignment.id) %}
  {% endif %}
  {% yield local_submissions = squery.orderBy('submissions.id', 'desc').with('assignment').limit(10).fetch() %}
  {% set local_submissions = local_submissions.toJSON() %}

  {% if local_submissions %}
    <table class="table">
      <thead>
        <tr>
          <th colspan=3>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            {{ antl.formatMessage('messages.task_submissions') if assignment else antl.formatMessage('messages.last_submissions') }}
          </th>
        </tr>
        <tr>
          {% if not assignment %}
            <th>{{ antl.formatMessage('messages.id') }}</th>
          {% else %}
            <th>{{ antl.formatMessage('messages.time') }}</th>
          {% endif %}
          <th>{{ antl.formatMessage('messages.status') }}</th>
          <th>{{ antl.formatMessage('messages.result') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in local_submissions %}
          <tr>
              <td>
                  <a href="{{ 'SubmissionController.show' | action({id: submission.id}) }}">
                      {% if not assignment %}
                          {{ submission.id }}
                      {% else %}
                          {{ submission.created_at }}
                      {% endif %}
                  </a>
              </td>
            <td>
              {{ sub.status(submission) }}
            </td>
            <td class="c_score">
              {{ sub.score(submission) }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endif %}
