@if(submission.status >= 2)
  @if(submission.assignment.score_visibility  >= 4)
    {{ round(submission.maxmemory / 1024 / 1024, 2) }}Mb
  @else
    **{{ round(submission.public_maxmemory / 1024 / 1024, 2) }}Mb
    @if(request.roles.admin)
    ({{ round(submission.maxmemory / 1024 / 1024, 2) }}Mb)
    @endif
  @endif
@endif
