@if(submission.status >= 2)
  @if(submission.assignment.score_visibility >= 4)
    {{ round(submission.maxtime, 2) }}s
  @else
    **{{ round(submission.public_maxtime, 2) }}s
    @if(request.roles.admin)
    ({{ round(submission.maxtime, 2) }}s)
    @endif
  @endif
@endif
