@if(submission.testing_stage == 0)
sub_wait
@elseif(submission.testing_stage == 4)
sub_public_testing
@elseif(submission.testing_stage == 8)
sub_wait_nonpublic_testing
@elseif(submission.testing_stage == 12)
sub_nonpublic_testing
@endif
