{% extends 'master' %}

{% block header %}
  <h1>Programmēšanas uzdevumi</h1>
  <pre><code class="python">if not Happy(): beHappy()</code></pre>
{% endblock %}

{% block content %}

  {% if tests.length == 0 %}
    <p class="bg-info">
      Diemžēl nav pievienots neviens tests.
    </p>
  {% else %}
  <p class="text-right editmenu">
    <a href="{{ 'problem/test/download' | route({id: problem.id}) }}">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Lejupielādēt testu zip failu
    </a>
  </p>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>#</td>
          <th>Ievadfails</td>
          <th>Izvadfails</td>
          <th>Numurs</td>
          <th>Numurs grupā</td>
        </tr>
      </thead>
      <tbody>
        {% set i=0 %}
        {% for test in tests %}
          <tr>
            <td>
              {% set i=i+1 %}
              {{ i }}
            </td>
            <td>
              {{ test.input_filename }}
            </td>
            <td>
              {{ test.output_filename }}
            </td>
            <td>
              {{ test.number }}
            </td>
            <td>
              {{ test.gid }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading">Problēmas testu arhīva augšupielāde</div>
    <div class="panel-body">
      <h2>Problēma: {{ problem.name }}</h2>
      <hr>

      {{ form.open({route: 'problem/test/edit_save', params: {id: problem.id}, class:"form-horizontal", files: true}) }}
      {{ form.hidden('id', problem.id ) }}

      {{ csrfField }}

      <div class="form-group">
        {{ form.label('test_file', 'Uzdevuma testu failu zip arhīvs', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-6">
          {{ form.file('test_file') }}
        </div>
      </div>
      <p class="bg-info">
        Testu failu zip arhīvs ir līdz 100mb liels fails ar zip paplašinājumu.
      </p>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-8 text-right">
          {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
        </div>
      </div>
      {{ form.close() }}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'problem/admin_sidebar' %}
{% endblock %}
