{% extends 'master' %}

{% block header %}
  <h1>Programmēšanas uzdevumi</h1>
  <pre><code class="python">if not Happy(): beHappy()</code></pre>
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="bold panel-heading">Testu konfigurācijas stāvoklis</div>
    <div class="panel-body">
      <div class="row top-buffer">
        <div class="col-md-4 text-right bold">
          Pievienots čekeris:
        </div>
        <div class="col-md-6">
          {{ "IR" if testset.checker else " - " }}
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-4 text-right bold">
          Pievienoti testi:
        </div>
        <div class="col-md-6">
          <td>{{ "IR" if testset.zip else "" }}</td>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-4 text-right bold">
          Testu skaits:
        </div>
        <div class="col-md-6">
          <td>{{ testset.tests.length if testset.tests else "0"}}</td>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-4 text-right bold">
          Pašlaik testē:
        </div>
        <div class="col-md-6">
          <td>{{ testing.cnt }}</td>
        </div>
      </div>
      {% if submissions.length > 0 %}
        <div class="top-buffer">
          <strong style="padding: 20px;">Iesūtītie risinājumi pa grupām:</strong>
          <table style="background-color: white; margin-top: 10px;">
            <thead>
              <tr>
                <th>Grupa</th>
                <th>Risinājumu Skaits</th>
              </tr>
            </thead>
            <tbody>
              {% for sub in submissions %}
                <tr>
                  <td>{{ sub.name }}</td>
                  <td>{{ sub['count(*)'] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      {% if oldsubmissions.length > 0 %}
        <div class="bg-danger top-buffer">
          <strong style="padding: 20px;">Risinājumi, kas ir testēti ar novecojušu testu konfigurāciju:</strong>
          <table style="background-color: white; margin-top: 10px;">
            <thead>
              <tr>
                <th>Grupa</th>
                <th>Risinājumu Skaits</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for olds in oldsubmissions %}
                <tr class="hover-row">
                  <td>{{ olds.name }}</td>
                  <td>{{ olds['count(*)'] }}</td>
                  <td class="no-padding">
                    {{ form.open({route: 'problem/test/retest', params: {id: problem.id, assignment_id: olds.assignment_id}, class:"form-horizontal"}) }}
                    {{ csrfField }}
                    {{ form.button('Pārtestēt', 'retest', {class: "full-cell"}) }}
                    {{ form.close() }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Uzdevuma limiti</div>
    <div class="panel-body">
      {{ form.open({route: 'problem/test/limits', params: {id: problem.id}, class:"form-horizontal"}) }}
      {{ form.hidden('id', problem.id ) }}

      {{ csrfField }}

      <div class="form-group">
        {{ form.label('memory', 'Atmiņas limits (Mb)', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-2">
          {{ form.text('memory', old('memory') or testset.memory, {class: 'form-control', placeholder:"512", required: true}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form.label('timelimit', 'Laika limits (s)', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-2">
          {{ form.text('timelimit', old('timelimit') or testset.timelimit, {class: 'form-control', placeholder:"0.5", required: true}) }}
        </div>
      </div>

      <div class="form-group">
        {{ form.label('public_range', 'Publisko testu grupas:', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-3">
          {{ form.text('public_range', old('public_range') or testset.public_range, {class: 'form-control', placeholder:""}) }}
        </div>
        <div class="col-md-4 control-label text-left">
          Piemēri: "5-7,9", "1,2,3,4,9-10"
        </div>
      </div>
      <p class="bg-info">
        Lietotājam publiskas ir tās testu grupas, kas testēšanas brīdī bija nodefinētas, kā publiskas.
      </p>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-8 text-right">
          {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
        </div>
      </div>
      {{ form.close() }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Čekeris</div>

    <div class="panel-body">

      {{ form.open({route: 'problem/test/checker', params: {id: problem.id}, class:"form-horizontal", files: true}) }}
      {{ form.hidden('id', problem.id ) }}

      {{ csrfField }}

      <div class="form-group">
        {{ form.label('checker_file', 'Čekera fails (cpp fails)', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-6">
          {{ form.file('checker_file') }}
        </div>
      </div>
      <p>
        Čekeris ir līdz 64KiB liels C++ fails, kas pārbauda, vai atbildes ir pareizas, izmantojot <code>testlib.h</code>.
      </p>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-8 text-right">
          {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
        </div>
      </div>
      {{ form.close() }}

      <hr>

      {% if not testset.checker %}
        <p class="bg-warning">
          Nav pievienots neviens "čekeris".
        </p>
      {% else %}
        <p class="text-right editmenu">
          <a href="{{ 'problem/download/checker' | route({testset_id: testset.id}) }}">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Lejupielādēt čekera failu
          </a>
        </p>
        <button class="btn btn-danger" data-toggle="collapse" data-target="#source_code">{{ antl.formatMessage('messages.source_code') }} čekerim</button>
        <div class="tex2jax_process prettycontent collapse" id="source_code">
                  <pre><code>{{ testset.checker.file }}</code></pre>
        </div>
      {% endif %}

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Testi</div>
    <div class="panel-body">
      {{ form.open({route: 'problem/test/tests', params: {id: problem.id}, class:"form-horizontal", files: true}) }}
      {{ form.hidden('id', problem.id ) }}

      {{ csrfField }}

      <div class="form-group">
        {{ form.label('test_file', 'Testu arhīvs (zip)', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-6">
          {{ form.file('test_file') }}
        </div>
      </div>
      <p>
        Zip arhīvs ar zip paplašinājumu, kas satur tikai teksta failus.
      </p>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-8 text-right">
          {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
        </div>
      </div>
      {{ form.close() }}

      <hr>

      {% if not testset.zip %}
        <p class="bg-warning">
          Nav pievienots neviens tests.
        </p>
      {% else %}
        <p class="text-right editmenu">
          <a href="{{ 'problem/download/zip' | route({testset_id: testset.id}) }}">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Lejupielādēt testu zip failu
          </a>
        </p>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</td>
              <th>Ievadfails</td>
              <th>Izvadfails</td>
              <th>Numurs</td>
              <th>Numurs grupā</td>
            </tr>
          </thead>
          <tbody>
            {% set i=0 %}
            {% for test in testset.tests %}
              <tr>
                <td>
                  {% set i=i+1 %}
                  {{ i }}
                </td>
                <td>
                  {{ test.input_file }}
                </td>
                <td>
                  {{ test.output_file }}
                </td>
                <td>
                  {{ test.tid }}
                </td>
                <td>
                  {{ test.gid }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include 'problem/admin_sidebar' %}
{% endblock %}
