{{ csrfField() }}

@!component('components.input',
  { label: antl.formatMessage('main.title'), name: 'name', type: 'text', data: problem,
    getErrorFor, hasErrorFor, old })

@!component('components.input',
  { label: antl.formatMessage('main.description'), name: 'description', type: 'textarea', data: problem,
    getErrorFor, hasErrorFor, old })
