{% extends 'master' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">Problēmas testu arhīva augšupielāde</div>
    <div class="panel-body">
      <h2>Problēma: {{ problem.name }}</h2>
      <hr>

      {{ form.open({route: 'problem/test/edit_save', params: {id: problem.id}, class:"form-horizontal", files: true}) }}
      {{ form.hidden('id', problem.id ) }}

      {{ csrfField }}

      <div class="form-group">
        {{ form.label('test_file', 'Uzdevuma testu failu zip arhīvs', {class: 'col-md-4 control-label'}) }}
        <div class="col-md-6">
          {{ form.file('test_file') }}
        </div>
      </div>
      <p class="bg-info">
        Testu failu zip arhīvs ir līdz 100mb liels fails ar zip paplašinājumu.
      </p>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-8 text-right">
          {{ form.button('Saglabāt', 'Saglabāt', {class: "btn btn-primary"}) }}
        </div>
      </div>
      {{ form.close() }}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="list-group">
    <a href="{{ 'problem/list' | route({}) }}" class="list-group-item  list-group-item-warning">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Uzdevumu pārvaldīšana
    </a>
    <a href="{{ 'problem/show' | route({id: problem.id}) }}" class="list-group-item">
      {{problem.name}}
    </a>
  </div>
{% endblock %}
