<div class="spacer"></div>
<ul class="list-unstyled components">
  <li>
    <span>Adminstratora rīki:</span>
  </li>
  <li>
    <a href="{{ route('PageController.index') }}">
      {{ antl.formatMessage("main.pages") }}
    </a>
  </li>
</ul>
<div class="spacer"></div>
