{% extends 'master' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ header }}</div>
    <div class="panel-body">
      <div class="form-group">
        <div class='col-md-10'>
          <p class="text-info">
            {{ lead }}
          </p>
        </div>
      </div>
      {{ form.open({ action: action, class:"form-horizontal"}) }}

        {{ csrfField }}

        <div class="form-group">
          {{ form.label('email', 'Epasta adrese:', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.email('email', old('email') or null, {class: 'form-control'}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('email_confirm', 'Epasta adrese atkārtoti:', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.email('email_confirm', null, {class: 'form-control'}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            {{ reCAPTCHA() | safe }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            {{ form.button('Izsūtīt epastu', 'Izsūtīt epastu', {class: "btn btn-primary"}) }}
          </div>
        </div>
      {{ form.close() }}
    </div>
  </div>
{% endblock %}
