{% extends 'master' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">{{ header }}</div>
    <div class="panel-body">
      {{ form.open({ action: action, class:"form-horizontal"}) }}

        {{ csrfField }}

        {{ form.hidden('key', key) }}
        {{ form.hidden('token', token) }}

        <div class="form-group">
          {{ form.label('email', 'Epasta adrese:', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.email('email', email, {class: 'form-control', disabled: true}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('pass', 'Parole:', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.password('pass', null, {class: 'form-control'}) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.label('pass', 'Parole atkārtoti:', {class: 'col-md-4 control-label'}) }}
          <div class="col-md-6">
            {{ form.password('pass_confirm', null, {class: 'form-control'}) }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            {{ reCAPTCHA() | safe }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            {{ form.button(submit_button, submit_button, {class: "btn btn-primary"}) }}
          </div>
        </div>
      {{ form.close() }}
    </div>
  </div>
{% endblock %}
