<svg height="{{ size }}" width="{{ size }}" class="icon icon--plus" viewBox="0 0 5 5" xmlns="http://www.w3.org/2000/svg">
  <path fill="#FFF" d="M2 1 h1 v1 h1 v1 h-1 v1 h-1 v-1 h-1 v-1 h1 z" />
</svg>
