<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>APTS</title>
  {{ css('style') }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="wrapper">
    <div id="sidebar">
      <div class="sidebar-header">
        <h3>{{ antl.formatMessage("main.APTS") }}</h3>
      </div>
      <ul class="list-unstyled components">
          <li class="active"><a href="/">{{ antl.formatMessage("main.APTS") }}</a></li>
          <li><a href="#">{{ antl.formatMessage("main.BUJ") }}</a></li>
      </ul>
      @!section('sidebar')
      @include('user/sidebar')
    </div>
    <div id="content">
      @!section('content')
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
