<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ antl.formatMessage("main.APTS") }}</title>
  {{ css('style') }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="tex2jax_ignore">
  <div class="wrapper">
    <div id="sidebar-wrapper">
      <div id="sidebar">
        <div class="sidebar-header">
          <h3>{{ antl.formatMessage("main.APTS") }}</h3>
        </div>
        <ul class="list-unstyled components">
            <li><a href="/">{{ antl.formatMessage("main.APTS") }}</a></li>
            <li><a href="{{ route('PageController.show', {path: 'BUJ'}) }}">{{ antl.formatMessage("main.BUJ") }}</a></li>
        </ul>
        @!section('sidebar')
        @if(request.roles.admin)
          @include('admin/sidebar')
        @endif
        @include('user/sidebar')
      </div>
    </div>
    <div id="content">
      <div id="center-content">
        <div class="container">
          @if(flashMessage('success'))
            @component('components.alert', { type: 'success', dismissible: true })
              {{ flashMessage('success') }}
            @endcomponent
          @endif
          @if(flashMessage('error'))
            @component('components.alert', { type: 'danger', dismissible: true })
              {{ flashMessage('error') }}
            @endcomponent
          @endif
          @!section('content')
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Are you sure?');
    });
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
